<div [@routerTransition]>
    <div class="row">
        <div class="col">
            <ul class="list-inline">
                <li class="list-inline-item"><a routerLink="/attributes/attribute-form" class="btn btn-success">{{'add_attribute' | translate}}</a></li>
            </ul>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12">
            <div class="card-header">{{'list_attributes' | translate}}</div>
            <div class="card-body table-responsive">
                <table class="table">
                    <thead class="thead-inverse">
                    <tr>
                        <th *ngFor="let key of cols">{{key | translate}}</th>
                        <th>**</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of attributes">
                        <td *ngFor="let key of cols">{{item[key]}}</td>
                        <td>

                            <button class="btn btn-secondary btn-sm mr-2" placement="top"
                            ngbTooltip="{{'edit' | translate}}"
                            [routerLink]="['/attributes/attribute-form', {id: item['id_attribute']}]">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button class="btn btn-danger btn-sm" ngbTooltip="{{'delete' | translate }}"
                            (click)="open(content, item)">
                            <i class="fa fa-trash"></i>
                        </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">   
        <h5 class="modal-title"><i class="fa fa-trash"></i></h5>
    </div>
    <div class="modal-body">
        {{'confirm_delete_attribute'| translate}}
    </div>
    <div class="modal-footer">
        <button type="button" class="cancel-btn" style="margin-right: 10px" (click)="d('Cross click')">{{'cancel' | translate}}</button>
        <button type="button" class="green-btn"  (click)="confirm('Save click')">{{'delete' | translate}}</button>
    </div>
</ng-template>
