<div>
    <h4>{{'animal_info'|translate}}</h4>
    <hr>
    <div class="row pb-3">
        <div class="col-md-12 px-4">
            <form [formGroup]="animalForm">
                <div class="form-group">
                    <label >{{'name'|translate}}</label>
                    <div class="input-group">
                        <input  class="form-control" formControlName="name">
                    </div>
                </div>
                <div class="form-group">
                    <label >{{'birth_year'|translate}}</label>
                    <div class="input-group">
                        <input  class="form-control" formControlName="birth_year">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label >{{'capture_date'|translate}}</label>
                            <div class="input-group">
                                <input  class="form-control" formControlName="capture_date">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{'death_date'|translate}}</label>
                            <div class="input-group">
                                <input  class="form-control" formControlName="death_date">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{'comment'|translate}}</label>
                    <div class="input-group">
                        <textarea class="form-control" rows="3" formControlName="comment"></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <h4>{{'Devices'| translate}}</h4>
    <hr>
    <app-animal-device-form [editMode]="false" [animal_devices]="animal_devices"></app-animal-device-form>
    <h4>Attribues</h4>
    <hr>
    <app-animal-attribute-form [editMode]="false"></app-animal-attribute-form>
</div>
