<div class="row  pb-3">
    <div *ngIf="!showAttributeForm && editMode" class="col-md-12">
        <button type="button" (click)="onAddAttribute()"
            class="btn btn-success">{{'add_attribute' | translate}}</button>
    </div>
    <div *ngIf="showAttributeForm" class="col-md-12 px-4">
        <form class="add-form" [formGroup]="attributeForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="with-required">{{'attribute'|translate}}</label>
                        <select FeedBack class="form-control" formControlName="attributeSelect">
                            <option *ngFor="let attribute of attributes" [ngValue]="attribute">{{attribute.name}}
                            </option>
                        </select>
                        <app-form-error controlName="attributeSelect" errorKey="required"></app-form-error>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="with-required">{{'value'|translate}}</label>
                        <select FeedBack class="form-control" formControlName="value">
                            <option></option>
                            <option *ngFor="let attribute_val of attribute_values" [value]="attribute_val">
                                {{attribute_val}}
                            </option>
                        </select>
                        <app-form-error controlName="value" errorKey="required"></app-form-error>
                    </div>
                </div>
            </div>
            <button type="submit" (click)="onSaveAttribute(attributeForm.value)" class="btn btn-primary mr-3">
                {{'add' | translate}} </button>
            <button type="reset" (click)="onCancelAttribute()" class="btn btn-secondary">
                {{'cancel'|translate}}</button>
        </form>

    </div>
    <div *ngIf="addAttributeError" class="col-md-12">
        <ngb-alert type="danger" class="mt-3 mx-2" *ngIf="!closedAlertAttribute" (close)="closedAlertAttribute=true">
            {{'device_already_add' | translate}}</ngb-alert>
    </div>

    <div class="card-body table-responsive">
        <table  class="table">
            <thead class="thead-inverse">
                <tr>
                    <th *ngFor="let key of attribute_cols">{{key | translate}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody *ngIf="animal_attributes && animal_attributes.length > 0">
                <tr *ngFor="let item of animal_attributes">
                    <td *ngFor="let key of attribute_cols">
                        {{ item[key] }}
                    </td>
                    <td>
                        <ul *ngIf="editMode" class="list-inline">
                            <button class="btn btn-secondary mr-3" placement="top" ngbTooltip="{{'edit' | translate}}"
                            (click)="onEditAttribute(item)">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button  class="btn btn-danger"  ngbTooltip="{{'delete' | translate}}" (click)="onDeleteAttribute(item)">
                            <i class="fa fa-trash"></i>
                        </button>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <p *ngIf="!animal_attributes || animal_attributes.length == 0" class="no-data">{{'no_data' | translate}}</p>
    </div>
</div>
