<div [@routerTransition]>
    <div class="row">
        <div class="col">
            <ul class="list-inline">
                <li class="list-inline-item"><a routerLink="/animals/animal-form"
                        class="btn btn-success">{{'add_animal' | translate}}</a></li>
            </ul>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12">
            <div class="card-header">{{'list_animals' | translate}}</div>
            <div class="input-group input-group-sm search-group">
                <input type="search" class="form-control form-control-sm input-search"
                    placeholder="{{'search_animal'|translate}}" #box (keyup.enter)="setDevices(box.value)" />
                <button (click)="setAnimals(box.value)" class="btn btn-success btn-sm mx-2">
                    {{'search'|translate}}</button>
                <button *ngIf="box.value" type="reset" (click)="setAnimals('');box.value =''"
                    class="btn btn-secondary btn-sm">
                    {{'cancel'|translate}}</button>
            </div>
            <div class="card-body table-responsive">
                <table class="table">
                    <thead class="thead-inverse">
                        <tr>
                            <th *ngFor="let key of cols">{{key | translate}}</th>
                            <th>**</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of animals">
                            <td *ngFor="let key of cols">{{item[key]}}</td>
                            <td>
                                <div>
                                    <button class="btn btn-primary btn-sm mr-2" placement="top"
                                        ngbTooltip="{{'view' | translate}}"
                                        [routerLink]="['/animals/animal-view',item['id_animal']]">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                    <button class="btn btn-secondary btn-sm mr-2" placement="top"
                                        ngbTooltip="{{'edit' | translate}}"
                                        [routerLink]="['/animals/animal-form', item['id_animal']]">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button class="btn btn-danger btn-sm" ngbTooltip="{{'delete' | translate }}"
                                        (click)="open(content, item)">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">   
                <h5 class="modal-title"><i class="fa fa-trash"></i></h5>
            </div>
            <div class="modal-body">
                {{'confirm_delete_animal'| translate}}
            </div>
            <div class="modal-footer">
                <button type="button" class="cancel-btn" style="margin-right: 10px" (click)="d('Cross click')">{{'cancel' | translate}}</button>
                <button type="button" class="green-btn"  (click)="confirm('Save click')">{{'delete' | translate}}</button>
            </div>
        </ng-template>
        