<div class="row">
    <div class="col-md-12">
        <form [formGroup]="animalForm">
            <div class="form-group">
                <label>{{'name'|translate}}</label>
                <div class="input-group">
                    <input class="form-control" formControlName="name">
                </div>
            </div>
            <div class="form-group">
                <label>{{'birth_year'|translate}}</label>
                <div class="input-group">
                    <input class="form-control" formControlName="birth_year">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>{{'capture_date'|translate}}</label>
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="dp"
                                   formControlName="capture_date"
                                   ngbDatepicker #capture_date="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="capture_date.toggle()" type="button">
                                    <i class="fa fa-calendar" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{'death_date'|translate}}</label>
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp"
                                       formControlName="death_date"
                                       ngbDatepicker #death_date="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="death_date.toggle()"
                                            type="button">
                                        <i class="fa fa-calendar" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>{{'comment'|translate}}</label>
                    <div class="input-group">
                        <textarea class="form-control" rows="6" formControlName="comment"></textarea>
                    </div>
                </div>
                <button type="submit" (click)="save()" class="btn btn-primary"> Envoyer</button>
        </form>
    </div>
</div>
