<div class="row">
    <div class="col">
        <form [formGroup]="deviceForm">
            <div class="form-group">
                <label class="with-required">{{'reference'|translate}}</label>
                <div class="input-group">
                    <input FeedBack class="form-control" formControlName="reference">
                </div>
                <app-form-error controlName="reference" errorKey="required"></app-form-error>
                <app-form-error controlName="reference" errorKey="device_already_exists"></app-form-error>
            </div>
            <div class="form-group">
                <label class="with-required">{{'device_type'|translate}}</label>
                <select FeedBack class="form-control" formControlName="device_type_id" id="exampleFormControlSelect1">
                    <option *ngFor="let device_type of device_types" [value]="device_type.id">{{device_type.name}}
                    </option>
                </select>
                <app-form-error controlName="device_type_id" errorKey="required"></app-form-error>
            </div>
            <div class="form-group">
                <label>{{'comment'|translate}}</label>
                <div class="input-group">
                    <textarea class="form-control" formControlName="comment"></textarea>
                </div>
            </div>
            <button type="submit" (click)="save()" class="btn btn-primary mr-3"> {{'send'|translate}}</button>
            <button type="reset" (click)="router.navigate(['/devices'])"
                class="btn btn-secondary">{{'cancel'|translate}}</button>
        </form>
    </div>
</div>
