    <div class="row pb-3">
        <div *ngIf="!showDeviceForm && !viewMode" class="col-md-12">
            <button type="button" (click)="onAddDevice()" class="btn btn-success">{{'add_device' | translate}}</button>
        </div>
        <div *ngIf="showDeviceForm" class="col-md-12 px-4">
            <form [formGroup]="deviceForm" class="add-form">
                <div class="form-group">
                    <label class="with-required">{{'device'|translate}}</label>
                    <select FeedBack class="form-control" formControlName="device">
                        <option *ngFor="let device of devices" [ngValue]="device">{{device.reference}}</option>
                    </select>
                    <app-form-error controlName="device" errorKey="required"></app-form-error>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="with-required">{{'start_at' | translate}}</label>
                            <div class="input-group">
                                <input FeedBack class="form-control" placeholder="yyyy-mm-dd" name="dp"
                                    formControlName="start_at" ngbDatepicker #start_at="ngbDatepicker" required>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="start_at.toggle()" type="button">
                                        <i class="fa fa-calendar" aria-hidden="true"></i></button>
                                </div>
                            </div>
                            <app-form-error controlName="start_at" errorKey="required"></app-form-error>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>{{'end_at' | translate}}</label>
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [minDate]="startDate"
                                    formControlName="end_at" ngbDatepicker #end_at="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="end_at.toggle()" type="button">
                                        <i class="fa fa-calendar" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{'comment'|translate}}</label>
                    <div class="input-group">
                        <textarea class="form-control" rows="2" formControlName="comment"></textarea>
                    </div>
                </div>
                <button type="submit" (click)="onSaveDevice(deviceForm.value)" class="btn btn-primary mr-3">
                    {{'save' | translate}} </button>
                <button type="reset" (click)="onCancelAddDevice()" class="btn btn-secondary">
                    {{'cancel'|translate}}</button>
            </form>
        </div>
        <div *ngIf="addDeviceError" class="col-md-12">
            <ngb-alert type="danger" class="mt-3 mx-2" *ngIf="!closedAlertDevice" (close)="closedAlertDevice=true">
                {{'device_already_add' | translate}}</ngb-alert>
        </div>
        <div class="card-body py-2 table-responsive">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th *ngFor="let key of device_cols">{{key | translate}}</th>
                        <th>**</th>
                    </tr>
                </thead>
                <tbody *ngIf="animal_devices && animal_devices.length > 0">
                    <tr *ngFor="let item of animal_devices">
                        <td *ngFor="let key of device_cols">
                            {{ item[key]}}
                        </td>
                        <td>
                            <ul *ngIf="!viewMode" class="list-inline">
                                <button type="button" class="btn btn-secondary btn-sm mr-2" placement="top"
                                    ngbTooltip="{{'edit' | translate}}" (click)="onEditDevice(item)">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button type="button" class="btn btn-danger btn-sm" ngbTooltip="{{'delete' | translate }}"
                                    (click)="onDeleteDevice(item)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p *ngIf="!animal_devices || animal_devices.length == 0" class="no-data">{{'no_data' | translate}}</p>
        </div>
    </div>
