<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a [routerLink]="['/animals']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-paw "></i>&nbsp;
            <span>{{ 'animals' | translate }}</span>
        </a>
        <a [routerLink]="['/devices']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-shield"></i>&nbsp;
            <span>{{ 'devices' | translate }}</span>
        </a>
        <a [routerLink]="['/attributes']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-tasks"></i>&nbsp;
            <span>{{ 'attributes' | translate }}</span>
        </a>
        <a [routerLink]="['/type-devices']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-cog"></i>&nbsp;
            <span>{{ 'type_devices' | translate }}</span>
        </a> 
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-left"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>
</nav>
