<div class="row">
    <div class="col">
        <form [formGroup]="typeDeviceForm">
            <div class="form-group">
                <label class="with-required">{{'name'|translate}}</label>
                <div class="input-group">
                    <input class="form-control" formControlName="name" required>
                </div>
            </div>
            <button type="submit" (click)="save()" class="btn btn-primary"> Envoyer </button>
            <button type="reset" (click)="router.navigate(['/type-devices'])" class="btn btn-light"> {{'cancel'|translate}}</button>
        </form>
    </div>
</div>
