<div class="row">
    <div class="col">
        <form [formGroup]="typeDeviceForm">
            <div class="form-group">
                <label class="with-required">{{'name'|translate}}</label>
                <div class="input-group">
                    <input FeedBack class="form-control" formControlName="name" required>
                </div>
                <app-form-error controlName="name" errorKey="required"></app-form-error>
            </div>
            <button type="submit" (click)="save()" class="btn btn-primary mr-3">{{'send'|translate}} </button>
            <button type="reset" (click)="router.navigate(['/type-devices'])"
                class="btn btn-secondary">{{'cancel'|translate}}</button>
        </form>
    </div>
</div>
